.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-spinner{
    height: 30px !important;
    width: 30px !important;
}