.email-list-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.email-list-title{
    color: #006a6a;
    text-align: center;
    max-width: 400px;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.email-list-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.total-emails{
    color: #006a6a;
    text-align: center;
    margin-bottom: 20px;
}

.email-card{
    font-size: 0.8em;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.remove-button{
    margin-left: 10px;
}

.download-list-button{
    margin-bottom: 20px;
}